@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap');

body {
    background-image: url(./images/background-brain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    /* color: #fafafa; */
    font-family: Montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------
                    HEADER 
----------------------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-img-profile {
    width: 150px;
    margin-top: 35px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-profile {
    width: 150px;
    border-radius: 120px;
}

/*----------------------------------------------
                SECCIÓN PRINCIPAL 
----------------------------------------------*/

a {
    text-decoration: none;
    
}

.link-redes {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Allura;
    font-size: 45px;
    text-shadow: 3px 3px 5px #42424280;
}

/*----------------------------------------------
                TEXTO PRINCIPAL
----------------------------------------------*/

.principal-tree, .contenedor-footer { 
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contenedor-link {
    width: 90%;
    margin: 5px;
    padding: 10px;
    border: 2px solid #fafafa;
    border-radius: 10px;
    background-color: #42424280;
}

.img-logo {
    width: 35px;
}

.txt-title-link {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    color: #fafafa;
    text-shadow: 1px 1px 2px cyan;
}

.contenedor-link:hover {
    background-color: #fafafa;
    text-shadow: 3px 3px 5px #42424260;
    color: #00a6d6;
}

.link-redes:hover {
    color: #00a6d6;
}

/*----------------------------------------------
                    FOOTER
----------------------------------------------*/

.contenedor-footer {
    margin: 20px;
}

.free-resources {
    margin: 10px 0 5px 0;    
}

/*----------------------------------------------
                RESPONSIVE
----------------------------------------------*/

@media (max-width: 580px) {
    
    body {
        background-image: url(./images/background-brain-2.jpg);
        background-position-x: center;
        background-position-y: 100%;
        background-size: auto;
    }

}