@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800;900&display=swap');

body {
    background: linear-gradient(344deg, rgba(72, 61, 139, 1) 0%, rgba(0, 156, 134, 1) 35%, rgba(211, 250, 245, 1) 100%);
    font-family: Montserrat;
    color: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------------------------------------
                    HEADER 
----------------------------------------------*/
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-img-profile {
    width: 14rem;
    margin-top: 2.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-profile {
    width: 100%;
    /* border-radius: 7rem;
    border: #fafafa 4px solid; */
}

.contenedor-img-profile-pie {
    margin: 1rem 0;
}

/*----------------------------------------------
                OVERLAY
----------------------------------------------*/
.overlay {
    width: 100%;
    background-color: #42424280;
    position: relative;
    z-index: 1;
}

/*----------------------------------------------
                SECCIÓN PRINCIPAL 
----------------------------------------------*/

a {
    text-decoration: none;

}

.link-redes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3faf5;
    width: 100%;

}

.txt-title-ppal {
    font-family: Allura;
    font-size: 3rem;
    text-shadow: 3px 3px 5px #42424280;
    color: #483d8b;
}

/*----------------------------------------------
                TEXTO PRINCIPAL
----------------------------------------------*/

.principal-tree, .contenedor-footer {
    position: relative;
    width: 24rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.contenedor-link {
    width: 90%;
    margin: 0.4rem 1rem;
    padding: 0.7rem;
    border: 2px solid #d3faf585;
    border-radius: 0.6rem;
    background-color: #42424280;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d3faf5;

}

.img-logo {
    width: 2rem;
}

.txt-title-link {
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 1rem;
    color: #d3faf5;
}

.contenedor-link:hover {
    background-color: #fafafa25;
    color: #00a6d6;
    cursor: pointer;
}

/*----------------------------------------------
                    FOOTER
----------------------------------------------*/

.contenedor-footer {
    width: 100%;
    background-color: #42424280;
    margin: 3rem 0 0.6rem 0;
    padding: 0.3rem;
}

.free-resources {
    margin: 0.6rem 0 0.3rem 0;
    display: none;
}

.contenedor-footer a {
    color: #00a6d6;
}